/* summary.css */

.sommaire-accordion {
  background-color: #1e1e1e; /* Fond sombre pour l'accordéon */
  color: #ffffff; /* Couleur du texte claire pour l'accordéon */
}

.sommaire-accordion-summary {
  color: #ffffff; /* Couleur claire pour le résumé */
}

.sommaire-accordion-details {
  padding: 0; /* Enlève le padding par défaut */
}

.group-title {
  color: #bbb; /* Couleur secondaire pour les titres de groupe */
  margin-top: 10px;
}

.film-item {
  color: #ffffff; /* Couleur claire pour les éléments de film */
  list-style-type: none; /* Enlève les puces des éléments de liste */
  padding-left: 20px; /* Indentation pour les éléments de la liste */
}

/* Styles pour la barre de défilement */
.sommaire-container::-webkit-scrollbar {
  width: 10px; /* Largeur de la scrollbar */
}

.sommaire-container::-webkit-scrollbar-track {
  background: #1e1e1e; /* Couleur de fond de la track */
}

.sommaire-container::-webkit-scrollbar-thumb {
  background: #3b3b3b; /* Couleur du thumb (partie déplaçable) */
  border-radius: 10px; /* Arrondir les bords du thumb */
}

.sommaire-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Couleur du thumb au survol */
}
